header{
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    h1 {
        color:black;
        font-weight: normal;
        text-align: center;
        text-decoration: underline;
        font-family: 'Raleway', sans-serif;
    }
}